<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="hello">

<h1>Hello world</h1>
<div class="container" ng-controller="home as vm">
    <h1>Users</h1>
    <div  ng-cloak class="ng-cloak">
        <div ng-repeat="user in vm.users">
            <p>
                {{user.date | date:'medium'}}  {{user.firstName}} {{user.lastName}}
            </p>

        </div>

    </div>
    <h1>Add User</h1>
    <div>
        <form name="user">
            <p>
                Date <input type="text" placeholder="date picker"/>
            </p>
            <p>
                Name <input type="text" placeholder="first name"/>
            </p>

            <p>
                Last Name <input type="text" placeholder="last name"/>
            </p>
            <button type="submit">Add User</button>
        </form>



    </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.20/angular.js" type="text/javascript"></script>
<script src="js/discovery-test.js"></script>
</body>
</html>